html {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    border: none;
    margin: 0;
    padding: 0;
}


.wrapper {
    background: white;
    /* This ensures empty space is white */
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    position: relative;
}

.child {
    background: white;
    flex: 0 0 auto;
    margin-right: 1px;
    margin-bottom: 1px;
    outline: 1px solid black;
    padding: 20px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
}